<div class="mt-4">
    <div class="container">
        <div>
          <a href="/me/stored/courses">Danh sach khoa hoc</a>
          <h3>Khoa hoc da xoa</h3>
        </div>

        <table class="table mt-4">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Level</th>
                    <th scope="col">Create At</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {{#each courses}}
                <tr>
                    <th scope="row">{{sum @index 1}}</th> 
                    <td>{{this.name}}</td>
                    <td>{{this.level}}</td>
                    <td>{{this.createdAt}}</td>
                    <td>
                        <a href="" data-id="{{this._id}}" class="btn btn-link btn-restore">Restore</a>
                        <a href="" class="btn btn-link" data-toggle="modal" data-id="{{this._id}}" data-target="#deleteCourse">Kill</a>
                    </td>
                </tr>

                {{else}}
                <tr>
                  <td colspan="5">
                    Khong co khoa hoc nao duoc xoa
                  </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>


<div id="deleteCourse" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete course</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Delete this course ?</p>
      </div>
      <div class="modal-footer">
        <button id="btn-deleteCourse" type="button" class="btn btn-primary">Delete</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<form method="post" name="deleteCourseForm"></form>
<form method="post" name="restoreCourseForm"></form>

<script>
  // when dialog confirm clicked
  document.addEventListener('DOMContentLoaded', function() {
    var courseId;
    var deleteCourseForm = document.forms['deleteCourseForm']
    var restoreCourseForm = document.forms['restoreCourseForm']

    $('#deleteCourse').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) 
      courseId = button.data('id')
    })

    const btnDeleteCourse = document.getElementById('btn-deleteCourse')

    btnDeleteCourse.onclick = function() {
      deleteCourseForm.action = '/courses/' + courseId + '/force?_method=DELETE'
      deleteCourseForm.submit()
    }

    var restoreBtn = $('.btn-restore')

    restoreBtn.click( function(e) {
      e.preventDefault()
      var courseId = $(this).data('id')
      restoreCourseForm.action = '/courses/' + courseId + '/restore?_method=PATCH'
      restoreCourseForm.submit()
    })
  })
</script>
